@model  IEnumerable<SAMsUNFWebApplication.Models.OfficeVisit>
@using GridMvc.Html
@{
    ViewBag.Title = "OfficeVisit";
    Layout = "~/Views/Shared/_myTemplate.cshtml";
}

<div class="bg-slider-wrapper">
    <div class="flexslider bg-slider">
        <ul class="slides">
            <li class="slide slide-6"></li>
        </ul>
    </div>
</div><!--//bg-slider-wrapper-->

<section class="promo section section-on-bg">
    <div class="container text-center">
        <h1>Office Visits</h1>
    </div><!--//container-->
</section><!--//promo-->

<div class="sections-wrapper">

    <!-- ******Why Section****** -->
    <section id="why" class="section why">
        <div class="container">
            <h2 class="title text-center">Office Visits</h2>
            <p class="intro text-center">Student history of office visits</p>
            <div class="row item">
           
                            <h3 style="color:#255694; font-size:x-large; ">Office Visits</h3>
                <div style="width:1000px; text-align:center;font-size:small; ">

                    @Html.Grid(Model).Columns(columns =>
           {
               columns.Add(c => c.student_number).Titled("StudentNumber").Filterable(true);
               columns.Add(c => c.student_name).Titled("Name").Filterable(true);
               columns.Add(c => c.total_visits).Titled("Visit").Filterable(true);
               columns.Add(c => c.office_visit_dt).Titled("Date").Filterable(true);
               columns.Add(c => c.school_name).Titled("School").Filterable(true);
               columns.Add(c => c.grade_value).Titled("Grade").Filterable(true);
               columns.Add(c => c.homeroom_name).Titled("Homeroom").Filterable(true);
               columns.Add(c => c.content_course_name).Titled("Content").Filterable(true);
               columns.Add(c => c.sent_by_contact_name).Titled("SentBy").Filterable(true);
               columns.Add(c => c.offenses).Titled("Offenses").Filterable(true);
               columns.Add(c => c.arrival_dt).Titled("Arrived").Filterable(true);
               columns.Add(c => c.handled_by_contact_name).Titled("HandledBy").Filterable(true);
               columns.Add(c => c.consequences).Titled("Consequences").Filterable(true);
               columns.Add(c => c.comments).Titled("Comment").Filterable(true);
           }).WithPaging(5).Sortable(true)
                </div>

                    @Html.ActionLink("Export To Excel", "ExportToExcel")

                    @Html.ActionLink("Add Office Visit", "AddOfficeVisit", "AddOfficeVisit")

                </div><!--//item-->



        </div><!--//container-->    
    </section>
</div><!--//section-wrapper-->