@model  SAMsUNFWebApplication.Models.SchoolYearCollection
@{
    ViewBag.Title = "SetSchoolYear";
}

<head>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

</head>
<table>
    <tr>
        <td colspan="2" align="center" height="30px" style='padding-top:20px;padding-bottom:20px;'>
            <h3 class="h3" style="color:#255694; font-size:x-large; ">Set School Year</h3>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                @using (Html.BeginForm("SetSchoolYear", "SchoolYear", FormMethod.Get))
                {
                    //TxtFirstName, string TxtLastName, string TxtSchool, string TxtGrade, string TxtGender, string TxtHomeroom
                    <table class="table">
                        <thead><tr><td></td><a href="javascript:void(0);" onclick="history.go(-1);">Go Back</a><td></tr></thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>
                                    @Html.Label("Select Location:")</td><td>

                                    @Html.DropDownListFor(m => m.allSchoolYears,
                    new SelectList(Model.allSchoolYears,
                                   "school_year_id", "school_year_id",
                                   Model.allSchoolYears.First().school_year_id))
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="right">
                                    <input id="submit" class="btn btn-primary" type="submit" value="Add" style="padding-left:20px;" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }

            </div>

        </td>
    </tr>
</table>
