
@{
    ViewBag.Title = "Training";
}
<head>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

</head>
<table>
    <tr>
        <td>
            <h1 style="color:#255694; font-size:x-large; font-weight:bold; ">Training</h1>
        </td>
    </tr>
    <tr>
        <td align="left">
            <video width="320" height="240" controls>
                <source src="~/Content/TrainingVideos/loginvid.webm" type="video/webm">
            </video>
                 
        </td>
    </tr>
</table>

