
@{
    ViewBag.Title = "Training";
}
<head>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />

</head>
<table>
    <tr>
        <td>
            <div class="jumbotron">
                <h1 style="color:darkgoldenrod; font-size:larger;">Student Action Managegment System (SAMs)</h1>
                <h1 style="color:darkgoldenrod; font-size:large; ">Training</h1>
            </div>
        </td>
    </tr>
    <tr>
        <td align="left">
            <iframe width="420" height="345"
                src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1">
            </iframe>
                 
        </td>
    </tr>
</table>

