
@{
    ViewBag.Title = "Training";
}
<head>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script>
            function PlayFromBookmark(label) {
            var video_player = document.getElementById("movie");
            switch (label) {
            case "bm1": video_player.currentTime = 5; break;
            case "bm2": video_player.currentTime = 25.1; break;
            case "bm3": video_player.currentTime = 53.1; break;breaks
            case "bm4": video_player.currentTime = 146.1; break;
            case "bm5": video_player.currentTime = 196; break;
            default: video_player.currentTime = 0;
            }
            video_player.play();
            }
    </script>
</head>
<table class="table">
    <tr>
        <td>
            <h1 style="color:#255694; font-size:x-large; font-weight:bold; ">Training</h1>
        </td>
    </tr>
    <tr>
        <td align="center">
            <video width="520" height="440" id="movie" controls>
                <source src="~/Content/Training/Senior Project Final Video.mp4" type="video/mp4">
            </video>
            </td>
            <td>
            <section id="bookmarks" align="left">
                <ul>
                    <li><a href="#" onclick="PlayFromBookmark('bm1');">How To Log In</a></li>
                    <li><a href="#" onclick="PlayFromBookmark('bm2');">How To Use The Dashboard</a></li>
                    <li><a href="#" onclick="PlayFromBookmark('bm3');">How To Add/Edit an Office Visit</a></li>
                    <li><a href="#" onclick="PlayFromBookmark('bm4');">How To Use Admin Management</a></li>
                    <li><a href="#" onclick="PlayFromBookmark('bm5');">How To Find Technical Training Material</a></li>
                </ul>
            </section>       
        </td>
   </tr>
</table>

