@model  IEnumerable<SAMsUNFWebApplication.Models.Student>
@using GridMvc.Html
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_myTemplate.cshtml";
}

<div class="bg-slider-wrapper">
    <div class="flexslider bg-slider">
        <ul class="slides">
            <li class="slide slide-5"></li>
        </ul>
    </div>
</div><!--//bg-slider-wrapper-->

<section class="promo section section-on-bg">
    <div class="container text-center">
        <h1>Dashboard</h1>
    </div><!--//container-->
</section><!--//promo-->

<div class="sections-wrapper">

    <!-- ******Why Section****** -->
    <section id="why" class="section why">
        <div class="container">
            <h2 class="title text-center">Dashboard</h2>
            <p class="intro text-center">Overview of the Student Management System</p>
            <div class="row item">


                <h3 style="color:#255694; font-size:x-large; ">Dashboard</h3>

                <div style="width:1000px; text-align:center;font-size:small; ">

                    @Html.Grid(Model).Columns(columns =>
           {
               columns.Add(c => c.student_id).Titled("StudentId").Filterable(true);
               columns.Add(c => c.first_name).Titled("First Name").Filterable(true);
               columns.Add(c => c.last_name).Titled("Last Name").Filterable(true);
               columns.Add(c => c.grade_id).Titled("Grade").Filterable(true);
               columns.Add(c => c.homeroom_id).Titled("Homeroom").Filterable(true);
               columns.Add(c => c.is_deleted).Titled("deleted?").Filterable(true); ;
               columns.Add(c => c.school_year_id).Titled("School year").Filterable(true); ;
               columns.Add(c => c.create_contact_id).Titled("Submitted By").Filterable(true); ;
               columns.Add(c => c.last_update_contact_id).Titled("Updated By").Filterable(true); ;
               columns.Add(c => c.create_dt).Titled("Created Date").Filterable(true); ;
           }).WithPaging(3).Sortable(true)
                </div>

                @Html.ActionLink("Export To Excel", "ExportToExcel")

            </div><!--//item-->



        </div><!--//container-->
    </section>
</div><!--//section-wrapper-->
