
@{
    ViewBag.Title = "CreateSchool";
}
<head>
    <link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" />
</head>
<body>    
    <h1 style="color:#255694; font-size:x-large; font-weight:bold; ">Add School</h1>
    @using (@Html.BeginForm("CreateSchool", "School", FormMethod.Get))
    {
        <table class="table">
            <tr>
                <td>@Html.Label("School Name")</td>
                <td>@Html.TextBox("SchoolName", null, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td colspan="3" align="right">
                    <br /><input id="submit" type="submit" value="Add" class="btn btn-primary" style="padding-left:20px;" />
                    <button class="btn btn-info" onclick="history.go(-1)">Cancel</button>
                </td>
            </tr>
        </table>
    }
</body> 