
@{
    ViewBag.Title = "CreateCOCV";
}

<a href="javascript:void(0);" onclick="history.go(-1);">Go Back</a>
        <h1 style="color:#255694; font-size:x-large; font-weight:bold; ">Add a Contact</h1>
@using (@Html.BeginForm("CreateCodeOfConductViolation", "CodeOfConductViolation", FormMethod.Get))
{
    <table>
        <tr>
            <td>Enter ID of Conduct Violation ID</td>
            <td>:</td>
            <td>@Html.TextBox("TxtId")</td>
        </tr>
        <tr>
            <td>Enter Code of Conduct Violation ID</td>
            <td>:</td>
            <td>@Html.TextBox("TxtCode")</td>
        </tr>
        <tr>
            <td>Enter the name of the Violation</td>
            <td>:</td>
            <td>@Html.TextBox("TxtName")</td>
        </tr>
        <tr>
            <td>Save Your Details</td>
            <td>:</td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}  