
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="bg-slider-wrapper">
                <div class="flexslider bg-slider">
                    <ul class="slides">
                        <li class="slide slide-1"></li>
                        <li class="slide slide-2"></li>
                        <li class="slide slide-3"></li>
                        <li class="slide slide-4"></li>
                    </ul>
                </div>
  </div>
  <!--//bg-slider-wrapper-->
