@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center;" >
    <h1 style="color:darkgoldenrod; font-size:larger;">Student Action Managegment System (SAMs)</h1>
    <br />
    <img src="~/Content/Images/LandingPicture.png" />
</div>
    