@model  SAMsUNFWebApplication.Models.ProfileCollection
@{
    ViewBag.Title = "AddProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<table class="table">
    <tr>
        <td>
            <h1 style="color:#255694; font-size:x-large; font-weight:bold; ">Add a Profile</h1>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <!--AddChild, Student-->
                @using (Html.BeginForm("AddProfl", "Profile", FormMethod.Get))
                {
                    //TxtFirstName, string TxtLastName, string TxtSchool, string TxtGrade, string TxtGender, string TxtHomeroom
                    <table class="table">
                        <thead>
                            <tr>
                                <td><button class="btn btn-info" onclick="history.go(-1)">Go Back</button></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.Label("Add User Name:")
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.profile.user_name,
                                   new
                                   {
                                       @class = "form-control",
                                       @style = "width: 250px;",
                                       @id = "ProfileUserName",
                                       @Name = "ProfileUserName",
                                       @required = "required"
                                   })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.Label("Select Associated Contact:")
                                </td>
                                <td>
                                    @Html.DropDownListFor(m => m.profilecontactselectlist, Model.profilecontactselectlist,
                                        new
                                        {
                                            @style = "width: 250px;",
                                            @class = "form-control"
                                        })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="right">
                                    <input id="submit" type="submit" value="Add" class="btn btn-primary" style="padding-left:20px;" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </td>
    </tr>
</table>
