
@{
    ViewBag.Title = "TechTraining";
}
<head>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
</head>
<table class="table">
    <tr>
        <td>
            <h1 style="color:#255694; font-size:x-large; font-weight:bold; ">Training</h1>
        </td>
    </tr>
    <tr>
        <td align="center">
            <object width="1000" height="1000" data="~/Content/Training/Work Instructions.pdf"></object>
            </td>
      </tr>
</table>

